<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <h1>Hi {{user}}</h1>
    <form action="/users/logoff" method="post"><input type="submit" value="Log Off" id="logoff"></form>
    <form action="/homepage/addImage" method="post"><input type="submit" value="Add Image" id="addImage"></form>
    <form action="/homepage/createAlbum" method="get"><input type="submit" value="Add Album" id="createAlbum"></form>
    

</body>
</html>